div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    padding: 0.5rem;
    margin: .2rem;
    background-color: whitesmoke;
    color: black;
    border-radius: 1rem;
    font-size: .7rem;
}

a:hover:not(.selected) {
    cursor: pointer;
    background-color: lightgray;
    color: black;
}

.selected {
    background-color: #e72929;
    color: white;
}