.searchBar {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
}

.searchBar input {
    height: 3rem;
    width: 20rem;
    padding: 1.2rem;
    border-radius: 10rem 0 0 10rem;
    border: none;
    outline: none;
    background-color: #f1f1f1;
    font-size: 1.2rem;
    font-weight: 500;
}

.searchBar button {
    height: 3rem;
    width: 5rem;
    border-radius: 0 10rem 10rem 0;
    border: none;
    outline: none;
    color: white;
    background-color: #e72929;
    opacity: .7;
    font-size: 1rem;
}

.searchBar button:hover {
    opacity: 1;
    cursor: pointer;
}